.message {

}

.wrapper {
    width: 300px;
    height: 100px;
    background-color: greenyellow;
    display: flex;
}

.img img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 40px 10px 10px 10px;

}

.messages {
    flex-grow: 1;
    background-color: green;
    margin: 5px 10px 5px 0px;
    display: flex;
}

.text {
    display: flex;
}

.name {

}

.message {

}

.time {

}

.time {

}