.wrapper {
    min-width: 200px;
    display: inline-flex;
    justify-content: space-around;
}

.pre_junior {
    color: orange;
    text-decoration: none;
}

.junior {
    color: blueviolet;
    text-decoration: none;
}

.junior_plus {
    color: forestgreen;
    text-decoration: none;
}
